# ========================
# Build / Maven
# ========================
target/
*.jar
*.war
*.ear

# ========================
# IDE / Editors
# ========================
.idea/
*.iml
.vscode/

# ========================
# Git
# ========================
.git/
.gitignore

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Allure
# ========================
allure-results/
allure-report/

# ========================
# Docker / local infra
# ========================
jenkins_home/
registry/

# ========================
# Temp / cache
# ========================
tmp/
temp/
*.tmp
*.cache